body {
  margin: 0;
  overflow-x: hidden;
  --acc-color: rgb(34 121 75);
}
*, ::after, ::before {
  box-sizing: border-box;
}
@media (width <  750px) {
  html {
    font-size: 14px;
  }
}

@media (width <  500px) {
  html {
    font-size: 12px;
  }
}

